@(id: Option[String], form: Form[models.LocationForm], msg: String ="")(implicit categoryList:List[models.v2.Category], session: Session)

@title = @{ if(  id == None) "CMS Location Add" else  "CMS Location Edit"  }

@import helper.twitterBootstrapv3._



@script={

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAPeQnJdCOB6zGbQ19DHnmG5yFeE0Oq5G8&sensor=false&libraries=places" type="text/javascript"></script>

@****
<script>
var map ;
 

function initialize() {
  var myLatlng = new google.maps.LatLng(22.283364 , 114.173068);
  var mapOptions = {
    zoom: 13,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
 @if(form("address.latitude").value !=  0.0  && form("address.longitude").value !=0.0){
	 var marker =new google.maps.Marker({
	      position:  new   google.maps.LatLng(@form("address.latitude").value , @form("address.longitude").value ),
	      map: map,
	      title: 'Hello'	
	  });
 }else{
	 var marker  ;
 }
  
 var input = (document.getElementById('target'));
 var searchBox = new google.maps.places.SearchBox(input);
 var markers = [];

 google.maps.event.addListener(searchBox, 'places_changed', function() {
   var places = searchBox.getPlaces();

   for (var i = 0, marker; marker = markers[i]; i++) {
     marker.setMap(null);
   }

   markers = [];
   var bounds = new google.maps.LatLngBounds();
   for (var i = 0, place; place = places[i]; i++) {
     var image = {
       url: place.icon,
       size: new google.maps.Size(71, 71),
       origin: new google.maps.Point(0, 0),
       anchor: new google.maps.Point(17, 34),
       scaledSize: new google.maps.Size(25, 25)
     };

     var marker = new google.maps.Marker({
       map: map,
       icon: image,
       title: place.name,
       position: place.geometry.location
     });

     markers.push(marker);

     bounds.extend(place.geometry.location);
   }

   map.fitBounds(bounds);
 });

 google.maps.event.addListener(map, 'bounds_changed', function() {
   var bounds = map.getBounds();
   searchBox.setBounds(bounds);
 });
 
 
  map.addListener("click" , function(event){  
	  console.log("map event= " + JSON.stringify (event) );
	  if( marker == null ){
		  marker =  new google.maps.Marker({
		      position: event.latLng ,
		      map: map,
		      title: 'Hello'	
		  });
	  }else{
		  marker.setPosition( event.latLng);
	  }
	  $("input#address_latitude").val( event.latLng.pb);
	  $("input#address_longitude").val( event.latLng.qb);
  });
}


$(function(){
	initialize()
}); 
 

</script>
****@
}


@views.html.cms.main( title.toString, script  ){
<div class="row" > 
	<div class="col-lg-offset-2 col-lg-6">
	  @if( msg != "") { <h2><span class="label label-warning">@msg</span></h2><br/> }
	  <h2>
	    @if(!id.isDefined) {添加} else {编辑}  地点 </h2>
		<br/>
	</div>
</div>

 
 
 
    
@helper.form(action = (if(!id.isDefined) controllers.cms.routes.Locations.save  else controllers.cms.routes.Locations.update( id.get )) , 'class -> "form-horizontal") {

    @helper.inputText(form("name") , '_label -> "地点名称" , 'class -> "form-control")
   @helper.inputText(form("enName") , '_label -> "地点英文名称", 'class -> "form-control")
    @helper.inputText(form("address.street") , '_label -> "地址" , 'class -> "form-control" )
    @helper.inputText(form("address.district") , '_label -> "区域"  , 'class -> "form-control")
    @helper.inputText(form("address.city") , '_label -> "城市" , 'class -> "form-control" )
     @helper.inputText(form("address.stateProvince") , '_label -> "省市" , 'class -> "form-control")
     @helper.inputText(form("address.country") , '_label -> "国家" , 'class -> "form-control" )

     @helper.inputText(form("phone.general") , '_label -> "电话", 'class -> "form-control" )
      
     
     @helper.inputText(form("url") , '_label -> "网址" , 'class -> "form-control")
     @helper.inputText(form("address.latitude")  , '_label -> "latitude" , 'class -> "form-control")
     @helper.inputText(form("address.longitude")  , '_label -> "longitude" , 'class -> "form-control" )
     @****
     <div class="row" > 
		<div class="col-lg-offset-2 col-lg-6">
	    	 <input class="btn btn-primary" type="button" value="从google Map 获取">  
	    	 
	    	 
	    	<br/>  
	    </div>
    </div>
    
     <div id="panel">
      <input id="target" type="text" placeholder="Search Box"  value='@form("address.city").value@form("address.street").value'>
    </div>
     <div class="row">
     	<div id="map-canvas" style="width:640px;height:480px" class="col-lg-8"></div>
     </div>
     ***@
     
    <div class="row" > 
		<div class="col-lg-offset-2 col-lg-6">
	    	<h3>开放时间</h3>
	    	<br/>  
	    </div>
    </div>
     

	@tags.hoursOpenClose("星期一","monday",form("hours.monday.open"),form("hours.monday.close"))
	@tags.hoursOpenClose("星期二","tuesday",form("hours.tuesday.open"),form("hours.tuesday.close"))
	@tags.hoursOpenClose("星期三","wednesday",form("hours.wednesday.open"),form("hours.wednesday.close"))
	@tags.hoursOpenClose("星期四","thursday",form("hours.thursday.open"),form("hours.thursday.close"))
	@tags.hoursOpenClose("星期五","friday",form("hours.friday.open"),form("hours.friday.close"))
	@tags.hoursOpenClose("星期六","saturday",form("hours.saturday.open"),form("hours.saturday.close"))
	@tags.hoursOpenClose("星期日","sunday",form("hours.sunday.open"),form("hours.sunday.close"))
 	@tags.hoursOpenClose("假日","holiday",form("hours.holiday.open"),form("hours.holiday.close"))
   @helper.inputText(form("hours.closed")  , '_label -> "休馆" ,  'class -> "form-control"  )
  
    <div class="row" > 
		<div class="col-lg-offset-2 col-lg-6">
	    	<h3>门票</h3>
	    	<br/>  
	    </div>
    </div>
     @helper.inputText(form("admission.general")  , '_label -> "标准"  ,  'class -> "form-control" )
     @helper.inputText(form("admission.children")  , '_label -> "儿童"  ,  'class -> "form-control" )
     @helper.inputText(form("admission.student")  , '_label -> "学生"  ,  'class -> "form-control" )
     @helper.inputText(form("admission.seniors")  , '_label -> "长者"  ,  'class -> "form-control" )
     @helper.inputText(form("admission.free")  , '_label -> "" ,  'class -> "form-control"  )
     
     @helper.select( form("category.categoryId") ,  categoryList.map(c => (c.id -> (  ( {"-" * ( c.level-1) * 2    } ) + c.level +":"+ c.name+"-"+c.enName) ))    , '_label -> "类别"  ,  'class -> "form-control"     ) 
      
     
    @helper.textarea(field = form("fact"), args = 'rows ->5, 'cols -> 50 , '_label -> "内容",  'class -> "form-control" )
     
     
     @helper.inputRadioGroup(
form("notDisplayAtHomePage"),
options = Seq("false"->"显示","true"->"不显示"),
'_label -> "是否显示在首页",
'_error -> form("notDisplayAtHomePage").error.map(_.withMessage("select gender")))

    <div class="form-actions">
      <input class="btn btn-primary" type="submit">
    </div>
  
}
 
}