@( locationList : List[models.LocationForm])(implicit session: Session)

 

@script={
 
}
 
@views.html.cms.main(  "CMS 地点列表" , script){
<table   class="table table-hover">
	<thead>
	<tr>
		<th>地点列表</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th><a href="@controllers.cms.routes.Locations.add" >加 新</a></th>
	</tr>
	</thead>
	<tbody>
	@for(location <- locationList ){
	<tr>
		<td class="col-lg-2">@location.name</td>
		<td class="col-lg-4">@location.enName (@location.address.latitude , @location.address.longitude  )</td>
		 
		<td class="col-lg-1"><a href="@controllers.cms.routes.Locations.edit( location.id.get )">Edit</a></td>
		<td class="col-lg-1"><a href="@controllers.cms.routes.Locations.del( location.id.get )"  onclick=" return confirm('确定要删除吗？')">Delete</a></td>

		<td class="col-lg-1"><a href="@controllers.cms.routes.Photos.add( location.id.get )">Add Photo</a></td>
		<td class="col-lg-1"><a href="@controllers.cms.routes.Photos.list( location.id.get )">List Photo</a></td>
		<td class="col-lg-1"><a href="@controllers.cms.routes.Photos.listUserPhoto( location.id.get )">User Photos</a></td>

	</tr>
		}
	</tbody>
</table>
}  