@( id: Option[String],form: Form[models.Photo] , msg: String="" , imgsrc: String = "")(implicit location: LocationForm , userList: List[models.v2.PhotoUser] , session: Session )

@title = @{ if(  id == None) "CMS Photo Add" else  "CMS Photo Edit"  }

@import helper.twitterBootstrapv3._



@script={

}


@views.html.cms.main( title.toString  ){

  <div class="row" > 
	  <div class="col-lg-offset-2 col-lg-6">
	  @if( msg != "") { <h2><span class="label label-warning">@msg</span></h2><br/> }
	  <h2>
	    @if(!id.isDefined) {增加} else {编辑}  Photo </h2>
	   <br/>
	  </div>
  </div>
    
@helper.form(action = (if(!id.isDefined) controllers.cms.routes.Photos.save( location.id.get )  else controllers.cms.routes.Photos.update( id.get )) , 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
<input type="hidden"  name="uploadtype"  value="admin"  />
<input type="hidden"  name="locationId"  value="@location.id.get"  />

  <div class="form-group  " id="locationName_field">
    <label for="locationId" class="col-lg-2 control-label">地点</label>
    <div class="col-lg-6">
    <input type="text" id="locationName" name="locationName" value="@location.name" class="form-control" readonly="true">
    </div>
  </div>


     
    @helper.select(form("userId") , userList.map( u=> u.id -> u.userName ) , 'class -> "form-control" , '_label -> "用户" )
	
	@helper.checkbox( form("atHomepage"), 'class -> "form-control" , '_label -> "显示在首页上")  
	@if( imgsrc != ""){
	 
	 <div class="form-group  " id="imgsrc_field">
    <label for="imgsrc" class="col-lg-2 control-label">已经上传的照片</label>
    <div class="col-lg-6">
    	
    <img src="http://diandidian.s3-us-west-1.amazonaws.com/@imgsrc">

     
    </div>
  </div>
  
	}

  @helper.inputFile(form("imgsrc") ,  'class -> "form-control" , '_label -> "上传照片" )
  
  <div class="form-group"   >
    <label for="imgsrc" class="col-lg-2 control-label"></label>
    <div class="col-lg-6">
     <strong > or </strong>
    </div>
  </div>
  
 <div class="form-group  " id="homepageimgsrc_field">
    <label for="homepageimgsrc" class="col-lg-2 control-label">HomePage照片</label>
    <div class="col-lg-6">
    	
    <input type="file" id="homepageimgsrc" name="homepageimgsrc" class="form-control">

    	<span class="help-inline">专门用于HomePage/PlanPage</span>
      <span class="help-block"></span> 
    </div>
  </div>
  
 <div class="form-group  " id="detailpageimgsrc_field">
    <label for="detailpageimgsrc" class="col-lg-2 control-label">DetailPage照片</label>
    <div class="col-lg-6">
    	
    <input type="file" id="detailpageimgsrc" name="detailpageimgsrc" class="form-control">

    	<span class="help-inline">专门用于DetailPage/Thumbnail Image</span>
      <span class="help-block"></span> 
    </div>
  </div>
	
  
    
    @helper.inputText(form("avatar") , 'class -> "form-control" , '_label -> "照片URL")
     
    @helper.inputText(form("imgurl") , 'class -> "form-control" , '_label -> "链接照片URL")
    @helper.textarea(field = form("brief"), args = 'rows -> 3, 'cols -> 50 , '_label -> "描述",  'class -> "form-control" )


	
	<div class="row" > 
	    <div class="form-actions col-lg-offset-2 col-lg-6 ">
	      <input class="btn btn-primary" type="submit" value="@if(!id.isDefined) {保 存} else {保 存}" >
	    </div>
    </div>
  
}
}