@( id: Option[String],form: Form[models.Photo] , msg: String="" , imgsrc: String = "")(implicit location: LocationForm ,  session: Session )

@title = @{ if(  id == None) "CMS Photo Add" else  "CMS Photo Edit"  }

@import helper.twitterBootstrapv3._



@script={

}


@views.html.cms.usermain( title.toString  ){

  <div  > 
	  <div  >
	  @if( msg != "") { <h3 style="margin-left:85px;" ><span class="label label-warning">@msg</span></h3>}
	  <h3 style="margin-left:85px;">
	    @if(!id.isDefined) {上传} else {编辑}照片 </h3>
	   
	  </div>
  </div>
    
@helper.form(action = (if(!id.isDefined) controllers.cms.routes.UserPhotos.save( location.id.get )  else controllers.cms.routes.UserPhotos.update( id.get )) , 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
<input type="hidden"   name="userId"   value ='@session.get("userId").getOrElse("")' />
<input type="hidden"  name="locationId"  value="@location.id.get"  />
<input type="hidden"  name="locationName"  value="@location.name"  />
<input type="hidden"  name="avatar"  value='@session.get("avatar").getOrElse("")'  />
<input type="hidden"  name="imgurl"  value=''  />

<table border="0"  width="90%">
<tr>
<td align="right"  width="75px" >地点:</td>
<td  style=" padding-left: 10px; padding-bottom: 5px; padding-top: 5px;">@location.name</td>
</tr>

@if( imgsrc != ""){
<tr>
<td></td>
<td ><img src="http://diandidian.s3-us-west-1.amazonaws.com/@imgsrc"></td>
</tr>
}

<tr>
<td  align="right">上传照片:</td>
<td style=" padding-left: 10px; padding-bottom: 5px; padding-top: 5px;">
<input type="file" id="imgsrc" name="imgsrc"  >
</td>
</tr>
<tr>
<td align="right">描述:</td>
<td style=" padding-left: 10px; padding-bottom: 5px; padding-top: 5px;">
<textarea id="brief" name="brief" rows="3" cols="50"  ></textarea>
</td>
</tr>
<tr>
<td>

</td>
<td style=" padding-left: 10px; padding-bottom: 5px; padding-top: 5px;"><input class="btn btn-primary" type="submit" value="@if(!id.isDefined) {保 存} else {保 存}" ></td>
</tr>

</table>
   
	
	
 

 
  
}
}