@(id: Option[String], form: Form[models.v2.PhotoUser], msg: String ="")(implicit session: Session)

@title = @{ if(  id == None) "CMS User Add" else  "CMS User Edit"  }

@import helper.twitterBootstrap._



@script={

}


@views.html.cms.main( title.toString  ){

<div class="row">
  <div class="span8">
  @if( msg != "") { <h2>@msg</h2> }
    <h2>
    @if(!id.isDefined) {
      Add
    } else {
      Edit
    } an User</h2>
    
@helper.form(action = (if(!id.isDefined) controllers.cms.routes.Users.save  else controllers.cms.routes.Users.update( id.get )) , 'class -> "form-horizontal") {
    @helper.inputText(form("userName"))
    @helper.inputText(form("userId"))
    <div class="form-actions">
      <input class="btn btn-primary" type="submit">
    </div>
  
}
 </div>
  </div>
}