@(admission : models.AdmissionForm)

<table width="260">
	<tr>
		<td   class="labe4" >门票:</td>
		<td  > @admission.free </td>
	</tr>
@if(admission.general!="0" &&  admission.general!="" ){
	<tr >
		<td class="labe4">标准:</td>
		<td><span > @admission.general</span></td>
	</tr>
}
@if(admission.children!="0" &&  admission.children!="" ){
	<tr>
		<td class="labe4">儿童:</td>
		<td><span > @admission.children</span></td>
	</tr>
}
@if(admission.seniors!="0" &&  admission.seniors!="" ){	
	<tr>
		<td class="labe4">学生:</td>
		<td><span >@admission.student </span></td>
	</tr>
}	
@if(admission.seniors!="0" &&  admission.seniors!="" ){	
	<tr>
		<td class="labe4">长者 学生:</td>
		<td><span >@admission.seniors </span></td>
	</tr>
}	
 

</table>