@( ) 
@script={
 

}
@main( "empty" , script){
	<div id="content">
		<div id="sidebar">
<div id="my-bag">
					<h2>我的背包:</h2>
 				<div class="accordion">
						 <h3 class="accordion-header"   style="display:none"></h3>
						<div class="accordion accordion-content">
							<h4 class="accordion-header"    style="display:none" ></h4>
							<div class="accordion-content clearfix">
								<ul>
								<li> 
								<table cellpadding="0" cellspacing="0">
											<tr>
												<td>您有0个景点，马上添加</td>
												 
											</tr>
										</table>
								</li>
									
								</ul>
								 
							</div>
							 
						</div>
					 
 
					</div><!-- end accordion -->
				</div><!-- end my-bag -->
</div>
<div id="main">
</div>
</div>
}