@( ) 
@script={
}
@*********************
 * 这个页面 只为 空的背包服务，页面结构可以和其他的不同 *
 *********************@  
@main( "empty" , script){
	<div id="content">
		<div id="sidebar">
<div id="my-bag">
					<h2>我的背包:</h2>
 				<div class="accordion">
						 <h3 class="accordion-header" style="display:none" >计划中</h3>
						<div class="accordion accordion-content" style="display:block">
							<h4 class="accordion-header"     style="display:none"  >背包<span>-</span><small><span>0</span>个景点</small></h4>
							<div class="accordion-content clearfix" style="display:block">
								<ul class="bagEmpty open">
								<li id="needremove"> 
								<table cellpadding="0" cellspacing="0" >
											<tr>
												<td>您有0个景点，马上添加</td>
											</tr>
										</table>
								</li>
								</ul>
							</div>
						</div>
					</div><!-- end accordion -->
				</div><!-- end my-bag -->
</div>
<div id="main">
</div>
</div>
}