@(name: String )(implicit session: Session)

@script={
<script>
var detailname = "@name";

</script>

<script type="text/javascript" src='@routes.Assets.at("javascripts/knockout-2.2.1.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/knockout.mapping-latest.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.magnific-popup.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/bag.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/detailview.js")'></script>

}
@css={
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/magnific-popup.css")'  media="all" />
}

@main( name , script , css ){

	<div id="container">
		<div id="header">
			@common.header(  session  )
		</div><!-- end header -->
		<!-- <div id="shadow-divide"></div> -->
		<div id="content">
			<div id="sidebar">
				 @common.sideBar("")
			</div><!-- end sidebar -->
			<div id="main">
				<div id="attraction-detal">
					<div class="breadcrumbs"><a href="" data-bind="{attr: { href: cityhref}}"><span data-bind="text: address.city" ></span></a> &gt; <a href=""   data-bind="{attr: { href: districthref}}" ><span data-bind="text: address.district" ></span></a> &gt; <a href="#"><span data-bind="text: name" id="locationName"></span></a></div>
					<div class="gallery clearfix" id="gallerycontain" >
						
					</div><!-- end gallery -->
					
					
					<div class="detal-sidebar">
						<span class="add-bag">加入背包</span>
						@if( session.get("userId").getOrElse("")!=""){<span class="upload-photo"  >上传照片</span> }else{  } 
					</div>
					
					<div class="detal-text"> 
					@***
					<div class="user-content clearfix">
						<div class="col col1">
							<img src="/assets//images/dummy/img18.png" width="49" height="49" alt="User Icon" />
						</div>
						<div class="col col2">
							<div class="title">
								<h2>海洋公园</h2><span>- (广告) - 香港海洋公园30国庆烟花汇演开始月1日至3月</span>
							</div>
							<div class="content">
								<p>
									海洋公园我已经去过不下5次, 每次去好像都有更多的游乐设施和展馆。这次和同事去, 她还未去过香港, 所以这次我就当她的导游。其实这位同事是个胆子非常小的女孩, 所以她连过山车都没坐过, 这次我
									<span class="more">特意带她到冰极天地里坐极地时速过山车, 好让她体验一下坐过山车有多爽！想不到她因此而喜欢上过山车,我们玩完了极地时速, 还坐了动感快车,疯狂过山车,越矿飞车等等, 胆子太小的朋友记得坐一下极地时速, 说不定你也因此克服了恐高.</span>
								</p>
								<div class="switch clearfix"><span class="more">更多</span><span class="less">关闭</span></div>
							</div>
						</div>						
					</div><!-- end user-content -->
					***@	
					
					<div class="basic-info">
						<div class="row row1 clearfix">
							<div class="col col1">
							 
									<table>
									<tr>
										<td class="labe2">地址:</td>
										<td><span data-bind="text: address.street"></span></td>
									</tr>
									<tr>
										<td class="labe2">电话:</td>
										<td><span data-bind="text: phone.general"></span></td>
									</tr>
									
									<tr id="opentime">
										<td class="labe2">开放时间:</td>
										<td><div data-bind="html: opentimetable"></div></td>
									</tr>
									
									</table>
								 
							</div>
							<div class="col col2"  data-bind="html: admissionView">
								 
							</div>
						</div>
						<hr />

						<div class="row row3">
							<table>
								<tr>
									<td class="label">简介:</td>
									<td  data-bind="html: fact"  >
										 
									</td>
								</tr>
							</table>
						</div>
						<hr />
						<div class="row row3">
							<table>
								<tr>
									<td class="label">网站:</td>
									<td>
										 <a href="" target="_blank"    data-bind="{attr:{ href: url } , text: url }" > </a>
									</td>
								</tr>
							</table>
						</div>
						</div>
					</div><!-- end basic-info -->
				</div><!-- end attraction-detail -->
			</div><!-- end main -->
		</div><!-- end content -->
	</div><!-- end container -->
 
}