@(message: String)(implicit session: Session)

@script={
<script type="text/javascript" src="@routes.Assets.at("javascripts/bag.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home.js")"></script>
}
@main(message, script ) {
<div id="container">
	<div id="header">
	@common.header(  session  )
		 
	</div><!-- end header -->
	<!-- <div id="shadow-divide"></div> -->
	<div id="content">
		<div id="sidebar">
			<div id="my-bag">
				<h2>我的背包:</h2>
				 
			</div><!-- end my-bag -->
		</div><!-- end sidebar -->
		<div id="main">
			<div id="attractions-list">
				
				
			</div><!-- end attractions-list -->
		</div><!-- end main -->
	</div><!-- end content -->
</div><!-- end container -->
}

