@(title: String, script:Html = Html("") )(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta http-equiv="keywords" content="" />
        <meta http-equiv="description" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta property="wb:webmaster" content="f3852a8744503c7a" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" media="screen">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/token-input.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/token-input-facebook.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery.jscrollpane.css")" media="all" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/master.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" ></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-scrolltofixed-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tokeninput.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.mousewheel.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.jscrollpane.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.imgr.min.js")"></script>

        <script type="text/javascript" src="@routes.Assets.at("javascripts/master.js")"></script>
        @script
        
    </head>
    <body>
        @content
    </body>
</html>
