@(name: String )

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Planning Page</title>
<meta http-equiv="keywords" content="" />
<meta http-equiv="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<link href='@routes.Assets.at("stylesheets/token-input.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/token-input-facebook.css")' rel="stylesheet" type="text/css" />
<link type="text/css" href='@routes.Assets.at("stylesheets/jquery.jscrollpane.css")' rel="stylesheet" media="all" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.core.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.datepicker.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.theme.css")' rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/master.css")' />

 


</head>
<body>
 
    
  <div id="content"  class="googleinfowindow">
						  <div class="clearfix">
						  	<img src="http://diandidian.s3-us-west-1.amazonaws.com/102_52271eed03648b0870554540.jpg"  width="102"  height="57" style="float:left" />
						    <h3>圣保罗大教堂遗址-大三巴牌坊</h3>
						    <h4>澳门大三巴 半岛炮台山下圣保罗教堂前壁遗迹</h4>
						  </div> 
						   <div > 
						   <span>计划日期: 10月10日 - 星期五 </span> 
						   <span style="color:red" id="" class="infowindow" >设置或更改日期</span>
						   </div>
</div>
						  
     <div id="infowindowtimeline" style="background-color: white; width: 100px; top: 150.633px; left: 203.65px; position: absolute;">
     <div class="map-date-line clearfix">
     <a class="no-sign" href="00_no-assign">尚未安排</a>
     <a class="year" href="2013">2013</a>
     <a href="2013/10/23">10月23日</a><a href="2013/10/24">24日</a>
     <a href="2013/10/25">25日</a><a href="2013/10/26">26日</a>
     <a href="2013/10/27">27日</a><a href="2013/10/28">28日</a>
     <a href="2013/10/29">29日</a><a href="2013/10/30">30日</a>
     <a href="2013/10/31">31日</a>
     </div>
     </div>
     

</body>
</html>

