@(name: String , planview: models.PlanView)(implicit session: Session)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Planning Page</title>
<meta http-equiv="keywords" content="" />
<meta http-equiv="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<link href='@routes.Assets.at("stylesheets/token-input.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/token-input-facebook.css")' rel="stylesheet" type="text/css" />
<link type="text/css" href='@routes.Assets.at("stylesheets/jquery.jscrollpane.css")' rel="stylesheet" media="all" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.core.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.datepicker.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.theme.css")' rel="stylesheet" type="text/css" />
<link rel="stylesheet/less" type="text/css" href='@routes.Assets.at("stylesheets/master.css")' />

<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-1.9.0.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.core.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.widget.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.mouse.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.draggable.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.droppable.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.datepicker.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-scrolltofixed-min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.tokeninput.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.mousewheel.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.jscrollpane.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.imgr.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/purl.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/master.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/bag.js")'></script>

<!--[if lt IE 8]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie.js"></script>
<![endif]-->
<script type="text/javascript" src='@routes.Assets.at("javascripts/less-1.3.1.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/planning.js")'></script>
</head>
<body id="planning">
	<div id="container">
		<div id="header">
			@common.header(  session  )
		</div><!-- end header -->
		 
		<div id="content">
			<div id="sidebar" class="customized-scroll">
				 @common.sideBar("")
			</div><!-- end sidebar -->
			
			<div id="main">
				
				<div id="attraction-planning-wrap">
					<div class="start-date date">
						<h4>开始日期</h4>
						<div class="datepicker"></div>
					</div>
					<div class="end-date date">
						<h4>结束日期</h4>
						<div class="datepicker"></div>
					</div>
					<div id="attraction-planning">
					
						<div id="plan-timeline-wrap">
							<div id="plan-timeline" class="customized-scroll">
								<div id="plan-date-input" class="clearfix">
									<img class="calendar-icon" src='@routes.Assets.at("images/calendar.png")' width="36" height="36" alt="Calendar Icon" />
								</div><!-- end plan-data-input -->
								<div class="date-line clearfix">
									<img src='@routes.Assets.at("images/time-line-mark.png")'  width="8" height="11" />
									<a class="active no-sign" href="00_no-assign">尚未安排</a>
									<a class="year" href="2012">2012</a>
									<a href="2012/12/25">12月25日</a>
									<a href="2012/12/26">26日</a>
									<a href="2012/12/27">27日</a>
									<a href="2012/12/28">28日</a>
									<a href="2012/12/29">29日</a>
									<a href="2012/12/30">30日</a>
									<a href="2012/12/31">31日</a>
									<a class="year" href="2013">2013</a>
									<a href="2013/01/01">1月1日</a>
									<a href="2013/01/02">2日</a>
									<a href="2013/01/03">3日</a>
									<a href="2013/01/04">4日</a>
									<a href="2013/01/05">5日</a>
									<a href="2013/01/06">6日</a>
									<a href="2013/01/07">7日</a>
									<a href="2013/01/08">8日</a>
									<a href="2013/01/09">9日</a>
									<a href="2013/01/10">10日</a>
									<a href="2013/01/11">11日</a>
									<a href="2013/01/12">12日</a>
									<a href="2013/01/13">13日</a>
									<a href="2013/01/14">14日</a>
									<a href="2013/01/15">15日</a>
									 
									
									
									
								</div>
							</div><!-- end plan-timeline -->
						</div><!-- end plan-timeline-wrap -->
						
						
						<div id="plan-attractions">
							<div class="header">
								<div class="plan-name">
									<input type="text" name="planName" />
									<label for="planName">请输入行程名称</label>
								</div><!-- end plan-name -->
								 
								<div class="plan-menu">
									<span>计划完成</span>
									<ul>
										<li ><a href="#"  id="mytest">保存</a></li>
										<li class="last">保存+PDF</li>
									</ul>
								</div>
							</div><!-- end header -->
							<div id="plan-attractions-list-wrap" class="customized-scroll">
								<div id="plan-attractions-list">
								 @for( kv <- planview.map  ){
								   <h3 class="@kv._1  @if(kv._1 == planview.first ) {active } ">@planview.getTtitle( kv._1 ) </h3>
								   <ul class="clearfix ui-droppable">
								   @for( locationview <- kv._2){
								   	<li class="ui-draggable" id="@locationview.location.id">
								   		<img src="http://diandidian.s3-us-west-1.amazonaws.com/@locationview.photo.planpageImg"  width="200" height="181"  />
								   		<div class="bottom">
												<h4>@locationview.location.name</h4>
												<span>@locationview.location.address.city: @locationview.location.address.district</span>
										</div>
										<div class="hover-cover">
												<table>
													<tr>
														<td class="label">地址:</td>
														<td>@locationview.location.address.city@locationview.location.address.district@locationview.location.address.street </td>
													</tr>
													<tr>
														<td class="label">时间:</td>
														<td>每日上午10时至下午6时, 逢星期六上午10时至晚上8时 逢星期四（公众假期除外）休馆 逢星期三免费入场</td>
													</tr>
													<tr>
														<td class="label">成人:</td>
														<td>@locationview.location.admission.adults, 儿童:@locationview.location.admission.seniors</td>
													</tr>
													<tr>
														<td class="label">电话:</td>
														<td>@locationview.location.phone.general</td>
													</tr>
												</table>
												<div class="note-input">
													<textarea></textarea>
													<span>完成</span>
												</div>
												<span class="btn remark">备注</span>
												<span class="btn detail">详情</span>
											</div>	
								   	</li>
								   }
								   </ul>
								   @if(kv._1 != planview.last ) {  <hr/>  }
								    
								 }
									
									
								</div><!-- end plan-attractions-list -->
							</div><!-- end plan-attractions-list-wrap -->
						</div>
					</div><!-- end attraction-planning -->
				</div><!-- end attraction-planning-wrap -->
			</div><!-- end main -->
		</div><!-- end content -->
	</div><!-- end container -->
	@if(planview.map.size >=1){
	<script language="javaScript">
	$(function(){
		addDroppable()
	});
	</script>
	}
</body>
</html>
