@(name: String , planview: models.PlanView, cityListStr: String)(implicit session: Session)
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript

@displayName(location: models.LocationForm) = {
@if( location.name.length >180){
	@{location.name.substring(0,180)+"..."}
}else{
	@location.name
}
  
}

@displayAdmission( admission : models.AdmissionForm)={
  <table  >
	<tr>
 		<td  colspan="2" > @admission.free </td>
	</tr>
@if(admission.general!="0" &&  admission.general!="" ){
	<tr >
		<td class="labe4">标准:</td>
		<td><span > @admission.general</span></td>
	</tr>
}
@if(admission.children!="0" &&  admission.children!="" ){
	<tr>
		<td class="labe4">儿童:</td>
		<td><span > @admission.children</span></td>
	</tr>
}
@if(admission.student!="0" &&  admission.student!="" ){	
	<tr>
		<td class="labe4">学生:</td>
		<td><span >@admission.student </span></td>
	</tr>
}	
@if(admission.seniors!="0" &&  admission.seniors!="" ){	
	<tr>
		<td class="labe4">长者:</td>
		<td><span >@admission.seniors </span></td>
	</tr>
}	

</table>
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Planning Page</title>
<meta http-equiv="keywords" content="" />
<meta http-equiv="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<link href='@routes.Assets.at("stylesheets/token-input.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/token-input-facebook.css")' rel="stylesheet" type="text/css" />
<link type="text/css" href='@routes.Assets.at("stylesheets/jquery.jscrollpane.css")' rel="stylesheet" media="all" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.core.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.datepicker.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.theme.css")' rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/master.css")' />



<!--[if lt IE 8]>
<link href='@routes.Assets.at("stylesheets/ie7.css")' rel="stylesheet" type="text/css" />
<![endif]-->



</head>
<body id="planning">
	<div id="container">
		<div id="header">
			@common.header(  session  )
		</div><!-- end header -->
		 
		<div id="content">
			<div id="sidebar" class="customized-scroll">
				 @common.sideBar("")
			</div><!-- end sidebar -->
			
			<div id="main">
				
				<div id="attraction-planning-wrap">
					<div class="start-date date">
						<h4>开始日期</h4>
						<div class="datepicker"></div>
					</div>
					<div class="end-date date">
						<h4>结束日期</h4>
						<div class="datepicker"></div>
					</div>
					<div id="attraction-planning">
					
						<div id="plan-timeline-wrap">
							<div id="plan-timeline" class="customized-scroll">
								<div id="plan-date-input" class="clearfix">
									<img class="calendar-icon" src='@routes.Assets.at("images/calendar_blue.png")' width="36" height="36" alt="Calendar Icon" />
									<p>请输入日期</p>
								</div><!-- end plan-data-input -->
								
							</div><!-- end plan-timeline -->
						</div><!-- end plan-timeline-wrap -->
						
						
						<div id="plan-attractions">
							<div class="header clear-fix ">
								<div class="visiblebutton" id="visiblebutton">
								 	<span>@planview.visible</span>
								 </div>
								<div class="plan-name">
									<input type="text" name="planName"  value="@planview.name" />
									<label for="planName">请输入行程名称</label>
									<input type="button" name="updateplanName" value="保存"  style="display:none;width:50px"/>
									<input type="button" name="cancelplanName" value="取消"  style="display:none;width:50px"/>
								</div><!-- end plan-name -->
								@* TODO CSS  *@ 
								
								 <div class="plan-menu">
									<span>保存</span>
									<ul>
										<li  id="plansave">保存</li>
										<li id="planpublic">公开</li>
										<li id="planprivate">私有</li>
										<li class="last" id="plansavepdf">保存+PDF</li>
									</ul>
								</div>
								 <div class="plan-map" id="mapbutton">
								 	<span>MAP</span>
								 </div>
		
							</div><!-- end header -->
							<div id="plan-attractions-list-wrap" class="customized-scroll">
								<div id="plan-attractions-list">
								 @for( kv <- planview.map  ){
								   <h3 class="@kv._1  @if(kv._1 == planview.first ) {active } ">@planview.getTtitle( kv._1 ) </h3>
								   <ul class="clearfix ui-droppable" id="@kv._1" >
								   @for( locationview <- kv._2){
								   	<li class="ui-draggable" id="@locationview.location.id.get">
								   		<img src="http://diandidian.s3-us-west-1.amazonaws.com/@locationview.photo.planpageImg"  width="193" height="190"  />
								   		<div class="bottom">
												<span><a class="del" href="?locationId=@helper.urlEncode(locationview.location.id.get)&statusName=@helper.urlEncode(planview.statusName)&planName=@helper.urlEncode(planview.name)"  ></a></span>

												<h4 title="@locationview.location.name">@displayName(locationview.location)</h4>
												<span>@locationview.location.address.city: @locationview.location.address.district</span>
										</div>
										<div class="hover-cover">
												<table>
													<tr>
														<td class="label">地址:</td>
														<td>@locationview.location.address.city@locationview.location.address.district@locationview.location.address.street </td>
													</tr>
													<tr>
														<td class="label">时间:</td>
														<td>@Html( models.HoursFormHelp.opentimetablePlanningPage( locationview.location.hours) )</td>
													</tr>
													<tr>
														<td class="label">休馆:</td>
														<td>  @locationview.location.hours.closed </td>
													</tr>
													
													
												</table>
												<div class="note-input" >
													<textarea id="note_@locationview.location.id.get" >@locationview.note</textarea>
													<span>完成</span>
												</div>
												 
												<span class="btn detail"><a href="/detail/view/@helper.urlEncode(locationview.location.name)"  target="_blank">详情</a></span>
											</div>	
								   	</li>
								   }
								   </ul>
								   @if(kv._1 != planview.last ) {  <hr/>  }
								    
								 }
									
									
								</div><!-- end plan-attractions-list -->
							</div><!-- end plan-attractions-list-wrap -->
							
<div id="map-canvas"  style="width:85%;min-width:722px;height:300px;top:53px;left:143px;position:absolute;display:none">
 
</div>	

<div id="note-input" class="note-input"   >
<input type="hidden" value=""  name="datestr" />
<div class="close"  style="float:right;height:20px" >btn</div>
<div class="remark"   style="height:20px">当日备注 </div>
<textarea name="note"></textarea>
<span>完成</span>
</div> 


						</div>
					</div><!-- end attraction-planning -->
				</div><!-- end attraction-planning-wrap -->
			</div><!-- end main -->
		</div><!-- end content -->
	</div><!-- end container -->

<div id="infowindowtimeline" style='display:none;background-color:white;width:100px'  >

</div>

<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-1.10.2.js")'></script>
	
	<script language="javaScript">
	

	var cityListStr = "@cityListStr" ;
	
	var gmapon = false;
	
	//构造 背包中地点的  json 数据， 用于地图上的操作， 注意，这里的定义 将用在  plan.js 的拖动操作 和 bagplan.js 的地点删除操作
	var  locationMap = {} ;
	
	//存放每日note 数据
	var noteArr= {} ;
	@for( kv <- planview.noteMap  ){
		noteArr[ "@kv._1"] = $('<div />').html( "@escapeEcmaScript(kv._2)" ). text( )  ;
		
	}
	 

	</script>
	

<script type="text/javascript" src='@routes.Assets.at("javascripts/json2.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.core.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.widget.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.mouse.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.draggable.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.droppable.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.datepicker.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-scrolltofixed-min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.tokeninput.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.mousewheel.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.jscrollpane.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.imgr.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/purl.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/master.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/bagplan.js")'></script>
<!--[if lt IE 9]>
<script type="text/javascript" src='@routes.Assets.at("javascripts/ie.js")'></script>
<![endif]-->
<script type="text/javascript" src='@routes.Assets.at("javascripts/planning.js")'></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAPeQnJdCOB6zGbQ19DHnmG5yFeE0Oq5G8&sensor=true" type="text/javascript"></script>
 
 
 
<script>
$(function(){
	 $( "#plan-attractions-list ul li div.bottom h4").each( function(index, h4tag){
		 console.log( $(h4tag).text()  + "h4tag.height( )=" + $(h4tag).height( ));
		 if( $(h4tag).height( ) <= 21 ){
			 $(h4tag).css("display","block").css("margin-top","3px").css("margin-bottom","2px");
		 }
	 });
});

@if(planview.map.size >=1){

	$(function(){
		addDroppable();
	});
	
	}
	
	@if(planview.startDate > 0  &&  planview.endDate >0 &&  planview.endDate >= planview.startDate){
	 
	$(function(){
		$("#attraction-planning-wrap .start-date .datepicker").datepicker("setDate" , new Date(@planview.startDate) ) ;
		$("#attraction-planning-wrap .end-date .datepicker").datepicker("setDate" , new Date(@planview.endDate) );
		createTimeline( new Date( @planview.startDate )   , new Date(@planview.endDate)  );
	});
	 
	}
	
var map ;
var markerMap = {};
var infowindow ;  

/**
 * locationId -> locationData 
 *  locationData -> JSON
 */
 
	
	

function initialize() {
  var myLatlng = new google.maps.LatLng(22.283364 , 114.173068);
  var mapOptions = {
    zoom: 10,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
 
  infowindow = new google.maps.InfoWindow({
	  
      content: ""
  });
  
  google.maps.event.addListener( infowindow , "closeclick" , function(){
	  console.log("infowindow  closeclick");
	  $("div#infowindowtimeline").hide();
  });
  
  
  @for( kv <- planview.map  ){
	   
	  @for( locationview <- kv._2){
		  @if(locationview.location.address.latitude != 0 ){
			  
			  var locationData = {};
			  locationData.timeline =  '@kv._1';
			  locationData.title = '@escapeEcmaScript(locationview.location.name)';
			  locationData.position = new google.maps.LatLng(@locationview.location.address.latitude , @locationview.location.address.longitude );
			  
			  locationData.content = {
					  img: '<img src="http://diandidian.s3-us-west-1.amazonaws.com/@locationview.photo.detailpageThumbnailImg"  width="102"  height="57" style="float:left" />',
					  name: '<h3>@escapeEcmaScript(locationview.location.name)</h3><h4>@{escapeEcmaScript(locationview.location.address.city + locationview.location.address.district + locationview.location.address.street)}</h4>',
					  date: '@planview.getTtitle( kv._1 )',
					  
					  timelinestr: '<span style="color:red" id="@locationview.location.id.get" class="infowindow" >设置或更改日期</span>',
					  contentString: function(){
						  var contentString = '<div id="content_@locationview.location.id.get"  style="width:300px">' ;
						  contentString += '<div class="clearfix">'+ this.img +  this.name +' </div>';
						  contentString += '<div >' + '<span>计划日期: '+ this.date + '</span>' +  this.timelinestr  + '</div>';
						  contentString += '</div>';
						  return contentString;
					  }
			  };
			  
			  locationMap['@locationview.location.id.get'] = locationData;
			  
		  var marker_@locationview.location.id.get  = new google.maps.Marker({
		      position: locationData.position ,
		      map: map,
		      title:   locationData.title
		  });
		
		  markerMap[ "@locationview.location.id.get" ] = marker_@locationview.location.id.get ;
	     
		 
		  

		  google.maps.event.addListener(marker_@locationview.location.id.get  , 'click', function() {
			  infowindow.close();
			  var content = locationMap['@locationview.location.id.get'].content.contentString();
			  infowindow.setContent( content ) ;
			  infowindow.open(map, marker_@locationview.location.id.get);
		  });
		  
		  }
		  
	  }
	   
  }
  

  

  
}
  
$(function(){
	
	createMapTimeline( new Date( @planview.startDate )   , new Date(@planview.endDate)  );
	
});
$(function() {
	$("div#map-canvas").on("click" ,  "span.infowindow" ,   function(e){
		 
		var locationid = $(this).attr("id");
		window.currentLocationid = locationid ;
		console.log("click span event locationid=" +locationid  );
		console.log("e.pageX: " + e.pageX + ", e.pageY: " + e.pageY);
		var position =$(this).position();
		console.log("left: " + position.left + ", top: " + position.top);
		
		var offset = $(this).offset();
		console.log("left: " + offset.left + ", top: " + offset.top );
		
		offset.position="absolute";
		offset.top = offset.top + 20 ;
        
		$("div#infowindowtimeline").css ( offset) ;
		
		$("div#infowindowtimeline").toggle();
		
	});
	
	$("div#infowindowtimeline").click(function(e){
		var offset = $(this).offset();
		console.log("left: " + offset.left + ", top: " + offset.top );
		
	});
});

$(function(){
	initialize()
}); 

//地图显示 开关
$(function(){
	$("div#mapbutton").click( function(){
		var tag = $("div#map-canvas") ; 
		var w = $( "div#plan-attractions").width() - $("div#plan-timeline-wrap").width() - 12 ;
		var h = $( "div#plan-attractions").height() -  148 ;
		console.log("h=" + h ) ;
		
		if( gmapon ){
			gmapon = false; 
			tag.slideToggle( 1200 );
			
			$("div#plan-date-input").fadeIn( 800 , function(){
				$("div#plan-timeline a.all").fadeOut( 400);
			});
			  
			
		}else{
			gmapon  = true ;
			
			$("div#plan-date-input").fadeOut( 400 , function(){
				$("div#plan-timeline a.all").fadeIn(800 );
			} );
			if( w != tag.width()){
				tag.width( w );
				tag.height( h );
				tag.slideToggle( 1200 , function(){
					
					var currCenter = map.getCenter();
					google.maps.event.trigger(map, "resize");
					map.setCenter(currCenter);
					
				});
				
				
				
				console.log("resize");
			}else{
				tag.slideToggle( 1200 );
			}
		}
	});
});


</script>

 
    

</body>
</html>
