@(name: String , planview: models.PlanView, cityListStr: String)(implicit session: Session)
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript

@displayName(location: models.LocationForm) = {
@if( location.name.length >180){
	@{location.name.substring(0,180)+"..."}
}else{
	@location.name
}
  
}

@displayAdmission( admission : models.AdmissionForm)={
  <table  >
	<tr>
 		<td  colspan="2" > @admission.free </td>
	</tr>
@if(admission.general!="0" &&  admission.general!="" ){
	<tr >
		<td class="labe4">标准:</td>
		<td><span > @admission.general</span></td>
	</tr>
}
@if(admission.children!="0" &&  admission.children!="" ){
	<tr>
		<td class="labe4">儿童:</td>
		<td><span > @admission.children</span></td>
	</tr>
}
@if(admission.student!="0" &&  admission.student!="" ){	
	<tr>
		<td class="labe4">学生:</td>
		<td><span >@admission.student </span></td>
	</tr>
}	
@if(admission.seniors!="0" &&  admission.seniors!="" ){	
	<tr>
		<td class="labe4">长者:</td>
		<td><span >@admission.seniors </span></td>
	</tr>
}	

</table>
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Planning Page</title>
<meta http-equiv="keywords" content="" />
<meta http-equiv="description" content="" />
<style>
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
 
</style>


</head>
<body  style="background-color:white" >
@**  pdf 封面**@

<div style="width:960px;height:595px;margin-top:10px;margin-left:auto;margin-right:auto">
<div style="position:relative;left:120px;top:134px;width:115px;height:115px;z-index:20;" >
	<img id="locationa" src="http://diandidian.s3-us-west-1.amazonaws.com/193_5227230603648b0870554542.jpg"  style="width:115px;height:115px"  /> 
</div>
<div style="position:relative;left:100px;top:100px;z-index:10;width:600px">
	<p style="background-color:yellow ;height:40px;width:300px;font-size:20px;line-height:40px;margin: 0 0 0 100px ;padding-left:20px"><em>Derek Lui @planview.getDays  -Day Trip</em></p>
	<p style="background-color:green ;height:80px;width:550px;font-size:40px;line-height:80px;margin: 0 0 0 100px ;padding-left:20px;color:white">@planview.name</p>
	<p style="background-color:blue  ;height:32px;width:480px;font-size:18px;line-height:32px;margin: 0 0 0 100px ;padding-left:20px;color:white">@planview.getStartEnd </p>
	<p style="background-color:white  ;height:32px;width:350px;font-size:14px;line-height:32px;margin: 0 0 0 100px ;" >
	 <span style="margin: 0 10px 0px 0  " >Created With </span>   
	 <img  src='@routes.Assets.at("images/logo_diandidian.png")' style="vertical-align:middle;height:32px"/>
	</p>
</div>
<div  style="position:relative;left:640px;top:0px; width:260px;height:260px;z-index:5;">
<img id="googlemap" src="http://maps.googleapis.com/maps/api/staticmap?center=22.283364,114.173068&zoom=12&size=260x260&sensor=false"  style="width:260px;height:260px;" />
</div>
</div>



@** 每一天的 景点 **@
@for( kv <- planview.map  ){
<hr id="pageHeader" style="border-top-style:solid;border-top-color:green;border-top-width:4px;page-break-before:always;margin: 0 0 0 0px ;" />
<div style="width:960px;min-height:595px;margin-top:10px;margin-bottom:10px;margin-left:auto;margin-right:auto">

<h3 style="font-size:32px;height:56px;line-height:56px;border-bottom-style:solid;border-bottom-color:grey;border-top-width:1px;margin: 8px 0 0px 0 ;padding:0 0 5px 0 ">
<span style="background-color:black;color:white;padding:8px 8px 8px 8px;border:1px solid black;border-radius:32px;font-size:28px;margin-bottom:5px " >12</span>
<span>@planview.getTtitle( kv._1 ,"pdf" )</span> 
</h3>
 @for( locationview <- kv._2){
<div style="border-bottom-style:dotted; border-bottom-color:grey;border-top-width:1px;margin-top:10px;margin-bottom:10px ;padding-top:10px;padding-bottom:10px ">
<img src="http://diandidian.s3-us-west-1.amazonaws.com/193_522737b503648b0870554547.jpg"    style="width:193px;height:190px;float:right;margin-right:10px" />

<div  style="margin: 0 0 0 0 ;">
	<h4 style="font-size:18px;height:28px;line-height:28px;margin: 4px 0 4px 0 ;" >@locationview.location.name</h4>
	<p style="margin: 0 0 0 0 ;">
		<span>地址：@locationview.location.address.city@locationview.location.address.district@locationview.location.address.street</span>
		<span>电话：@locationview.location.phone.general</span>
	</p>
	 
	<p style="margin: 0 0 0 0 ;" >@locationview.location.url</p>

	<div style="margin: 10px 0 0 0 ;">
		<div style="float:left;width:300px">
		 
		@Html( models.HoursFormHelp.opentimetablePlanningPagePdf( locationview.location.hours) )
		</div>
		<div style="float:right;width:300px">
		@views.html.detail.admission(  locationview.location.admission )
		</div>
	</div>



</div>
<div class="clearfix"></div>
	<div>
	@(  locationview.location.fact )
	</div>
	
</div>
}
@if(  planview.noteMap.get( kv._1 ) != None){
	<h3>@planview.getTtitle( kv._1 ,"pdf")-当日备注</h3>
	<div>
	@planview.noteMap.get( kv._1 )
	</div>
}
</div>
}

</body>

								 




<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-1.10.2.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.imgr.min.js")'></script>
<script>
$(function(){
	$("#locationa").imgr({ radius:"60px"});
	
	$("#googlemap").imgr({ radius:"130px"});
	
	 
});

</script>
</body>
</html>
