@(name: String , planview: models.PlanView, cityListStr: String)(implicit session: Session)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Planning Page</title>
<meta http-equiv="keywords" content="" />
<meta http-equiv="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<link href='@routes.Assets.at("stylesheets/token-input.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/token-input-facebook.css")' rel="stylesheet" type="text/css" />
<link type="text/css" href='@routes.Assets.at("stylesheets/jquery.jscrollpane.css")' rel="stylesheet" media="all" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.core.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.datepicker.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.theme.css")' rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/master.css")' />



<!--[if lt IE 8]>
<link href='@routes.Assets.at("stylesheets/ie7.css")' rel="stylesheet" type="text/css" />
<![endif]-->



</head>
<body id="planning">
	<div id="container">
		<div id="header">
			@common.header(  session  )
		</div><!-- end header -->
		 
		<div id="content">
			<div id="sidebar" class="customized-scroll">
				 @common.sideBar("")
			</div><!-- end sidebar -->
			
			<div id="main">
				
				<div id="attraction-planning-wrap">
					<div class="start-date date">
						<h4>开始日期</h4>
						<div class="datepicker"></div>
					</div>
					<div class="end-date date">
						<h4>结束日期</h4>
						<div class="datepicker"></div>
					</div>
					<div id="attraction-planning">
					
						<div id="plan-timeline-wrap">
							<div id="plan-timeline" class="customized-scroll">
								<div id="plan-date-input" class="clearfix">
									<img class="calendar-icon" src='@routes.Assets.at("images/calendar.png")' width="36" height="36" alt="Calendar Icon" />
									<p>请输入日期</p>
								</div><!-- end plan-data-input -->
								
							</div><!-- end plan-timeline -->
						</div><!-- end plan-timeline-wrap -->
						
						
						<div id="plan-attractions">
							<div class="header">
								<div class="plan-name">
									<input type="text" name="planName"  value="@planview.name" />
									<label for="planName">请输入行程名称</label>
									<input type="button" name="updateplanName" value="保存"  style="display:none"/>
									<input type="button" name="cancelplanName" value="取消"  style="display:none"/>
								</div><!-- end plan-name -->
								 
								<div class="plan-menu">
									<span>计划完成</span>
									<ul>
										<li ><a href="#"  id="mytest">保存</a></li>
										<li class="last">保存+PDF</li>
									</ul>
								</div>
							</div><!-- end header -->
							<div id="plan-attractions-list-wrap" class="customized-scroll">
								<div id="plan-attractions-list">
								 @for( kv <- planview.map  ){
								   <h3 class="@kv._1  @if(kv._1 == planview.first ) {active } ">@planview.getTtitle( kv._1 ) </h3>
								   <ul class="clearfix ui-droppable">
								   @for( locationview <- kv._2){
								   	<li class="ui-draggable" id="@locationview.location.id">
								   		<img src="http://diandidian.s3-us-west-1.amazonaws.com/@locationview.photo.planpageImg"  width="200" height="181"  />
								   		<div class="bottom">
												<h4>@locationview.location.name</h4>
												<span>@locationview.location.address.city: @locationview.location.address.district</span>
										</div>
										<div class="hover-cover">
												<table>
													<tr>
														<td class="label">地址:</td>
														<td>@locationview.location.address.city@locationview.location.address.district@locationview.location.address.street </td>
													</tr>
													<tr>
														<td class="label">时间:</td>
														<td>每日上午10时至下午6时, 逢星期六上午10时至晚上8时 逢星期四（公众假期除外）休馆 逢星期三免费入场</td>
													</tr>
													<tr>
														<td class="label">成人:</td>
														<td>@locationview.location.admission.adults, 儿童:@locationview.location.admission.seniors</td>
													</tr>
													<tr>
														<td class="label">电话:</td>
														<td>@locationview.location.phone.general</td>
													</tr>
												</table>
												<div class="note-input">
													<textarea>@locationview.note</textarea>
													<span>完成</span>
												</div>
												<span class="btn remark">备注</span>
												<span class="btn detail">详情</span>
											</div>	
								   	</li>
								   }
								   </ul>
								   @if(kv._1 != planview.last ) {  <hr/>  }
								    
								 }
									
									
								</div><!-- end plan-attractions-list -->
							</div><!-- end plan-attractions-list-wrap -->
							
							<div id="map_canvas" style="min-width:640px;height:480px;top:20px">
map
</div>	
<div style="min-width:640px;height:80px;top:20px" ></div>

						</div>
					</div><!-- end attraction-planning -->
				</div><!-- end attraction-planning-wrap -->
			</div><!-- end main -->
		</div><!-- end content -->
	</div><!-- end container -->


<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-1.9.0.min.js")'></script>
	
	<script language="javaScript">
	@if(planview.map.size >=1){

	$(function(){
		addDroppable();
	});
	
	}
	@if(planview.startDate > 0  &&  planview.endDate >0 &&  planview.endDate >= planview.startDate){
	 
	$(function(){
		createTimeline( new Date( @planview.startDate )   , new Date(@planview.endDate)  );
	});
	 
	}
	//构造 背包中地点的  json 数据， 用于地图上的操作， 注意，这里的定义 将用在  plan.js 的拖动操作 和 bagplan.js 的地点删除操作
	var  locationMap = {}
	 
	console.log( "locationMap=" + JSON.stringify(locationMap) ) ; 
	
	
	var cityListStr = "@cityListStr" ; 
	</script>
	

<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.core.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.widget.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.mouse.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.draggable.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.droppable.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.datepicker.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-scrolltofixed-min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.tokeninput.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.mousewheel.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.jscrollpane.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.imgr.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/purl.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/master.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/bagplan.js")'></script>
<!--[if lt IE 9]>
<script type="text/javascript" src='@routes.Assets.at("javascripts/ie.js")'></script>
<![endif]-->
<script type="text/javascript" src='@routes.Assets.at("javascripts/planning.js")'></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAPeQnJdCOB6zGbQ19DHnmG5yFeE0Oq5G8&sensor=true" type="text/javascript"></script>
 
 
 

 
    

</body>
</html>
