@(name: String , shareplan: models.SharePlan, cityListStr: String)(implicit session: Session)
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript

@displayName(location: models.LocationForm) = {
@if( location.name.length >180){
	@{location.name.substring(0,180)+"..."}
}else{
	@location.name
}
  
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Planning Page</title>
<meta http-equiv="keywords" content="" />
<meta http-equiv="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<link href='@routes.Assets.at("stylesheets/token-input.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/token-input-facebook.css")' rel="stylesheet" type="text/css" />
<link type="text/css" href='@routes.Assets.at("stylesheets/jquery.jscrollpane.css")' rel="stylesheet" media="all" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.core.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.datepicker.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.theme.css")' rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/master.css")' />



<!--[if lt IE 8]>
<link href='@routes.Assets.at("stylesheets/ie7.css")' rel="stylesheet" type="text/css" />
<![endif]-->



</head>
<body id="planning">
	<div id="container">
		<div id="header">
			@common.header(  session  )
		</div><!-- end header -->
		 
		<div id="content">
			<div id="sidebar" class="customized-scroll">
				 @common.sideBar("")
			</div><!-- end sidebar -->
			
			<div id="main">
				
				<div id="attraction-planning-wrap" >
	
					<div id="attraction-planning">

						<div id="plan-attractions"  style="text-align:center">
							<div class="header clear-fix " style="width:780px;margin-left:auto;margin-right:auto;height:70px">

								<div style=" margin-top:20px; float:left">
									<img src="@shareplan.avatar"  id="useravatarimg" style="width:36px;height:36px;"/>
								</div>
								<div style="font-size:18px;float:left ; line-height:36px;margin-top:20px;margin-left:5px">@shareplan.username</div>
								
								<div    style="font-size:20px;float:left;line-height:36px;margin:20px 0px 0px 16px">
									<span style=""> @shareplan.name  </span>
								</div>
								
								<div class="clearfix"></div>
		
							</div><!-- end header -->
							 
							  <div id="contentmain" style=""   > <!--  main -->
								 <div  style="margin-bottom:20px">
								 @if(shareplan.img==""){
								 	<img src='@routes.Assets.at("images/shareplan_cover.png")' style="width:780px;height:435px" />
								 }else{
								 	<img src="http://diandidian.s3-us-west-1.amazonaws.com/@shareplan.img"  style="width:780px;height:435px" /> 
								 }
								 	
								 </div>
								
								 @defining( shareplan.locationList.reverse zip ( 1 to shareplan.locationList.size)  ){ziped => 
								 @for( tuple  <- ziped ){
								 <div  style="overflow:auto;width:780px; min-height:198px;margin-top:10px;margin-bottom:10px;margin-left:auto;margin-right:auto;background-color:#e6e6e6;padding-bottom:20px" >
									 <div style="float:left;width:620px; text-align:left ">
									 	<h3 style="margin-left:10px;margin-top:15px;line-height:24px;color:#3f3f3f">@{tuple._2}.<a href="/detail/view/@helper.urlEncode( tuple._1.name)"  target="_blank">@tuple._1.name</a></h3> 
										<h4 style="margin-left:26px;line-height:18px;color:#3f3f3f">@tuple._1.address</h4>
									 	<div style="margin-left:26px;line-height:18px;font-family:verdana;font-size:12px;"><a href="@tuple._1.url" target="_blank" style="color:#00aeef">@tuple._1.url</a></div>
										 <div style="margin-left:26px;margin-top:8px">
										 	<div style="width:550px; color:#3f3f3f;font-size:14px;line-height:20px" id="note_@tuple._1.id" >@tuple._1.note</div>
										 </div>
									 </div>
								 
									 <div style="float:right;width:133px;margin-top:15px;margin-right:17px"> 
									 @if(tuple._1.img==""){	
									 	<img src='@routes.Assets.at("images/sharelocation_blank.png")'  style="width:133px" />
									 }else{
									 	<img src="http://diandidian.s3-us-west-1.amazonaws.com/@tuple._1.img" style="width:133px" />
									 }
									 </div>
								 
								</div>
								<div class="clearfix"></div>
								 }
								 }
								 
								<div>
								</div>
						<div style="min-height:20px;margin-top:5px;margin-left:auto;margin-right:auto;width:780px">
					 
						<div style="" class="copyknapsack">
						<a href="/bag/copySharePlan?planId=@shareplan.id" id="copybag">复制背包</a>
						</div>
				 
						</div>
				
								<div class="clearfix"></div>
							 </div>  <!--   contentmain  -->
							 
						</div>
					</div><!-- end attraction-planning -->
				</div><!-- end attraction-planning-wrap -->
				
				<div style="min-height:100px;margin-top:20px;margin-left:auto;margin-right:auto;width:780px">
					 
						 
				</div>
								
			</div><!-- end main -->
		</div><!-- end content -->
	</div><!-- end container -->









<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-1.10.2.js")'></script>
	
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.simplemodal-1.4.4.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/json2.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-scrolltofixed-min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.tokeninput.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.mousewheel.js")'></script>
 <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.jscrollpane.js")'></script>

 
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.imgr.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/purl.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/master.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/bag.js")'></script>
<!--[if lt IE 9]>
<script type="text/javascript" src='@routes.Assets.at("javascripts/ie.js")'></script>
<![endif]-->

<script>
var planId = "@shareplan.id";
$(function(){
	 
	
	$("#useravatarimg").imgr({ radius:"18px"});
	
	$("#copybag").click(function(){
		console.log("copybag click");
		var url = $(this).attr("href");
		
		$.getJSON(url , {} , function( result){
			console.log("result=" + result ) ;
			if(result.success){
				console.log("msg=" + result.msg);
				//重新加载 bag 
				loadBag();
			}else{
				alert( result.msg );
				
			}
			
		});
		return false;
	});
});
</script>
   

</body>
</html>
