@(name: String , shareplan: models.SharePlan, cityListStr: String)(implicit session: Session)
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript

@displayName(location: models.LocationForm) = {
@if( location.name.length >180){
	@{location.name.substring(0,180)+"..."}
}else{
	@location.name
}
  
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Planning Page</title>
<meta http-equiv="keywords" content="" />
<meta http-equiv="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<link href='@routes.Assets.at("stylesheets/token-input.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/token-input-facebook.css")' rel="stylesheet" type="text/css" />
<link type="text/css" href='@routes.Assets.at("stylesheets/jquery.jscrollpane.css")' rel="stylesheet" media="all" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.core.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.datepicker.css")' rel="stylesheet" type="text/css" />
<link href='@routes.Assets.at("stylesheets/jquery.ui.theme.css")' rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/master.css")' />
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/magnific-popup.css")'  media="all" />


<!--[if lt IE 8]>
<link href='@routes.Assets.at("stylesheets/ie7.css")' rel="stylesheet" type="text/css" />
<![endif]-->



</head>
<body id="planning">
	<div id="container">
		<div id="header">
			@common.header(  session  )
		</div><!-- end header -->
		 
		<div id="content">
			<div id="sidebar" class="customized-scroll">
				 @common.sideBar("")
			</div><!-- end sidebar -->
			
			<div id="main">
				
				<div id="attraction-planning-wrap">
	
					<div id="attraction-planning">

						<div id="plan-attractions"   style="text-align:center" >
							<div class="header clear-fix "  style="width:780px;margin-left:auto;margin-right:auto;">
								<div class="plan-name">
									<input type="text" name="planName"  value="@shareplan.name" />
								</div>
								<div class="shareplan-menu" id="shareIt">
								 	<span ><a href="/plan/shareIt?planId=@shareplan.id" onclick="$.getJSON('/plan/shareIt?planId=@shareplan.id',{},function(result){ alert( result ) });return false;">分享背包</a></span>
								 </div>
								 
								 <div class="shareplan-menu2" id="updateShare">
									<span><a href="/plan/updateShare?planId=@shareplan.id" onclick="alert('x');$('form#form1').submit() ;return false ">保存</a></span>
								</div>
								 
		
							</div><!-- end header -->
							 <form action="/plan/updateShare?planId=@shareplan.id"  method="post" id="form1" >
							  <div   style="margin-left:20px" id="contentmain"   > <!--  contentmain -->
								 <div   style="margin-bottom:20px">
								 @if(shareplan.img==""){
								 	<div style="width:780px;height:435px;background-color:#c6c6c6;margin-left:auto;margin-right:auto"  id="coverimage"  >
								 		<img src='@routes.Assets.at("images/icon_upload_photo.png")'  style="position:relative;top:160px;" />
								 		<div style="color:#58544b;font-size:17px;position:relative;top:175px;line-height:25px;">
								 		<div>上传封面照片</div>
								 		<div>最佳封面图片尺寸: 780px宽, 435px高</div>
								 		</div>
								 	</div>
								 	 
								 }else{
								 	<img src="http://diandidian.s3-us-west-1.amazonaws.com/@shareplan.img"  style="width:780px;height:435px"  id="coverimage"  /> 
								 }
								 </div>
								
								 @defining( shareplan.locationList.reverse zip ( 1 to shareplan.locationList.size)  ){ziped => 
								 @for( tuple  <- ziped ){
								 <div  style="width:780px;height:200px;margin-top:10px;margin-bottom:10px;margin-left:auto;margin-right:auto;background-color:#e6e6e6" >
									 <div style="float:left;width:620px; text-align:left  ">
									 	<h3 style="margin-left:10px;margin-top:10px;line-height:24px">@{tuple._2}.@tuple._1.name</h3> 
										<h4 style="margin-left:20px;line-height:20px">@tuple._1.address</h4>
									 	<div style="font-size:15px;margin-left:20px;line-height:20px"><a href="@tuple._1.url" target="_blank" style="color:#00aeef">@tuple._1.url</a></div>
										 <div style="margin-left:20px;margin-top:8px">
										 	<textarea style="width:573px;height:98px" name="note_@tuple._1.id" >@tuple._1.note</textarea>
										 </div>
									 </div>
								 
									 <div style="float:right;width:130px;margin-top:10px;margin-right:20px"  class="shareplan_location_photo" id="@tuple._1.id" > 
									 @if(tuple._1.img==""){	
									 
									 <div style="width:133px;height:131px;background-color:#c6c6c6;border-radius:0 6px 6px 0"   >
								 		<img src='@routes.Assets.at("images/icon_upload_photo.png")'  style="position:relative;top:16px;" />
								 		<div style="color:#58544b;font-size:15px;position:relative;top:20px;line-height:17px ">
								 		<div>上传景点照片</div>
								 		<div>最佳景点图片尺寸:</div>
								 		<div>266px宽, 262px高</div>
								 		</div>
								 	</div>
								 	
									 	 
									 }else{
									 	<img src="http://diandidian.s3-us-west-1.amazonaws.com/@tuple._1.img" style="width:133px;height:131px" />
									 }
									 </div>
								 
								</div>
								<div class="clearfix"></div>
								 }
								 }
								 
								<div>
								</div>

							 </div>  <!--   contentmain  -->
							 </form>
						</div>
					</div><!-- end attraction-planning -->
				</div><!-- end attraction-planning-wrap -->
			</div><!-- end main -->
		</div><!-- end content -->
	</div><!-- end container -->









<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-1.10.2.js")'></script>
	
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.simplemodal-1.4.4.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/json2.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.core.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.widget.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.mouse.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.draggable.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.droppable.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.datepicker.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-scrolltofixed-min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.tokeninput.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.mousewheel.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.magnific-popup.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.jscrollpane.js")'></script>
 
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.imgr.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/purl.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/master.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/bagplan.js")'></script>
<!--[if lt IE 9]>
<script type="text/javascript" src='@routes.Assets.at("javascripts/ie.js")'></script>
<![endif]-->
<script>
var planId = "@shareplan.id";

</script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/shareplan.js")'></script> 

 
    

</body>
</html>
