@(username:String=""  , email: String="" , avatar: String =""  )(implicit flash: Flash)
@import helper._

 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>Diandidian - User Register </title>
 
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" ></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.validate.js")"></script>

<script>
$(document).ready(function() {
	$("form#thismyForm").submit(function(){
var form = $("form#thismyForm").validate();
if ($("form#thismyForm").valid()) {
	return true;
}else{
 
	return false;
}
	})
});

</script>
</head>
<body>
<div id="topFrame">
	<div id="topBox">
		<div id="topContent"><img src="@routes.Assets.at("images/login_img/img_loginDiandidian.png")" alt="diandidian" width="108" height="60" /></div>
	</div>
</div>
<p>

</p>
<div id="mainframe">
	<div id="">
	<h2>@flash.get("msg").getOrElse("")</h2>
	 <form action ="/login/user/register"  method="post"  enctype="multipart/form-data" id="thismyForm" >
	<fieldset>
			
			<legend>Add User:</legend>
			<p>
				<label for="username">UserName </label> 
				<input  id="username" name="username" minlength="2" maxlength="32" type="text" required value='@flash.get("username").getOrElse(username)' />
			</p>

			<p>
				<label for="email">Email </label> 
				<input  id="email" name="email" minlength="2" type="email" required  value='@flash.get("email").getOrElse(email)'  />
			</p>
			
			<p>
				<label for="avatar">avatar </label> 
			 	<input type="file" name="avatar" id="avatar">
			 	@if( avatar != ""){
			 	<img src="/login/user/avatar/@avatar" />
			 	}
			 </p>
			 <p>
			 <input type="submit">
			 </p>
   
   
	</fieldset>    
   	</form>
 
	</div>
</div>
</body>
</html>
