@(name: String) 
<div id="my-bag">
					<h2>我的背包:</h2>
					<div class="accordion">
						<h3 class="accordion-header">计划中:</h3>
						<div class="accordion accordion-content">
							<h4 class="accordion-header"><span class="address">香港</span>背包<span>-</span><small><span>0</span>个景点</small></h4>
							<div class="accordion-content clearfix">
								<ul>
									
								</ul>
								<a href="#">计划行程</a>
							</div>
							<h4 class="accordion-header"><span class="address">旧金山</span>背包<span>-</span><small><span>2</span>个景点</small></h4>
							<div class="accordion-content clearfix">
								<ul>
									<li>
										<table cellpadding="0" cellspacing="0">
											<tr>
												<td>渔夫码头</td>
												<td class="del"><a href="#"></a></td>
											</tr>
										</table>
									</li>
									<li>
										<table cellpadding="0" cellspacing="0">
											<tr>
												<td class="english">San Francisco Museum of Modern Art (SFMOMA)</td>
												<td class="del"><a href="#"></a></td>
											</tr>
										</table>
									</li>
								</ul>
								<a href="#">计划行程</a>
							</div>
						</div>
						<h3 class="accordion-header">准备前往<span>-</span><small>2个</small></h3>
						<ul class="accordion-content">
							<li>
								<table cellpadding="0" cellspacing="0">
									<tr>
										<td>纽约背包</td>
									</tr>
								</table>
							</li>
							<li class="last">
								<table cellpadding="0" cellspacing="0">
									<tr>
										<td>西藏背包</td>
									</tr>
								</table>
							</li>
						</ul>
						<h3 class="accordion-header">过去背包<span>-</span><small>1个</small></h3>
						<ul class="accordion-content">
							<li class="last">
								<table cellpadding="0" cellspacing="0">
									<tr>
										<td>巴黎背包</td>
									</tr>
								</table>
							</li>
						</ul>
					</div><!-- end accordion -->
				</div><!-- end my-bag -->
